@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

body{
	min-height: 100%; 
	 
}

.grid_container2{
	display: grid;
	gap: 5px;
	grid-template: 
	"header" 30px
	"quienes" 100px
	"que" auto
	"proyectos" auto
	"tipografia" 100px
	"colores" 100px
	"wiref" 100px
	"footer" 70px
	;
}
h1,h2{font-family: 'Josefin Sans', sans-serif;
font-family: 'Palette Mosaic', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Titillium Web', sans-serif;}
.quienes,.proyectos,.colores,.wiref{background-color:#B81325; color: #ffffff; padding: 2%;margin: 2%;
}
.que,.tipografia,.colores{background-color:#EBE9EB; color: #000000; padding: 2%;margin: 2%; align-content: center;
}
.tipografia img{width: 100%;
}
.proyectos,.wiref,.colores{display: flex;flex-flow: wrap;
}
.proyectos div{padding: 1%;width: 20%;margin: 2%;margin-top: 5%;
}
.wiref div{margin: 2%;align-content: center;
}
.wiref img{width:auto;height: 180px;}
.wiref p{font-size: 60%;}
.wiref article{width: 100%;display: flex;flex-flow: wrap;}
.colores div{width: 10%;height: 150px ;margin-top: 5%;}
.gris{background-color:#EBE9EB;}
.rojo{background-color:#B81325;}
.azul{background-color:#FFF704;}
.amarillo{background-color:#2050D6;}
.negro{background-color:#000000 ;}
.blanco{background-color:#ffffff ;}
.header{
	grid-area: header;
	background-color: #ffffff;
}
.grid_container2 footer{position: relative;top: 95%;height: 150%;} 

.quienes{
	grid-area: quienes;
}


.que{
	grid-area: que;
}

.proyectos{
	grid-area: proyectos;
	background-color: #B81325;
}

.tipografia{
	grid-area: tipografia;
}

.colores{
	grid-area: colores;
}
.wiref{
	grid-area: wiref;
}
.footer{
	grid-area: footer;;
}
@media (max-width: 900px) {
.grid_container2 header{height: 200%;} 